    @{
        Layout = null;
    }

        <div class="col-md-2 col-sm-2">
            <h2>About Us</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="#">Message from Chairman</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Management Team</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Board members</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Investors</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Why A4 Data</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">News</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Event</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Contact us</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>Product</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="#">A4 Data Jet VM</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">A4 Data Jet Appliance</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Feature briefs</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>Solutions</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="#">Solution brief/overview</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">(product) Benefit</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Benchmark</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Applications</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Customer testimonials</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Case studies</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Different Aarchitecture</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>Technology</h2>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>Downloads</h2>
        </div>
        <div class="col-md-2 col-sm-2"> 
            <h2>Support</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="#">Benefits</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Customer Portal</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Documentation</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Software Version</a></li>
            </ul>
        </div>