@using CamprayPortal.Services.Security
@model DashboardModel
@{
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    
}
 
<table class="dashboard">
     
    <tr>
        
        
      
    </tr>
    
</table>
<script type="text/javascript">

    $(document).ready(function() {
        window.location.href = "Admin/News/List";
    });
        </script>