@model CamprayPortal.Web.Models.Topics.TopicModel
@using CamprayPortal.Core.Domain.Seo 
@using CamprayPortal.Core.Infrastructure
<div class="page topic-page" id="ph-topic">
    <div id="ph-title">
        <div class="page-title">
            <h1>
                @Model.Title</h1>
        </div>
    </div>
    <div class="page-body">
        @Html.Raw(Model.Body)
    </div>
</div>
