<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">
         
        
        <siteMapNode title="Customers" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors" ImageUrl="/Administration/Content/images/ico-customers.png" >
          <siteMapNode title="Customers" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" ImageUrl="/Administration/Content/images/cus.png" />
          <siteMapNode title="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" ImageUrl="/Administration/Content/images/icon-cus.png" />
          <siteMapNode title="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List"  ImageUrl="/Administration/Content/images/icon-online.png"/>
        </siteMapNode>
        
        <siteMapNode title="Content&#160;Management" nopResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates" ImageUrl="/Administration/Content/images/ico-content.png">
          <siteMapNode title="News" nopResource="Admin.ContentManagement.News" controller="News" action="List" ImageUrl="/Administration/Content/images/icon-news.png" />
          <siteMapNode title="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" ImageUrl="/Administration/Content/images/icon-page.png"/>
        </siteMapNode>
      
        <siteMapNode title="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins" 
					 ImageUrl="/Administration/Content/images/ico-configuration.png">
          <siteMapNode title="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" ImageUrl="/Administration/Content/images/icon-website.png"/>
          <siteMapNode title="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" ImageUrl="/Administration/Content/images/icon-language.png"/>
          <siteMapNode title="ContactUs" nopResource="Admin.Configuration.ContactUs" controller="ActivityLog" action="ListLogs" ImageUrl="/Administration/Content/images/icon-log.png"/>
        </siteMapNode>
        
        <siteMapNode title="Help" nopResource="Admin.Help" ImageUrl="/Administration/Content/images/ico-help.png">
          <siteMapNode title="Help topics" nopResource="Admin.Help.Topics" url="#" ImageUrl="/Administration/Content/images/icon-help.png"/>
          
        </siteMapNode>
      
    </siteMapNode>
</siteMap>

